.img_aff {
    width: 100%;
    height: 300px;
    opacity: 0.8;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://nardechain.io/play/Assets/Coin/BuyCoins/aboutus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 100px;
}

.title_aff {
    color: white;
}

.btn_buy_coins_aff {
    background-color: rgb(18, 46, 255);
    color: white;
    margin-top: -100px!important;
    float: right;
    height: 50px;
}

/* real */
.img_rooms {
    padding: 20px;
    height: 800px;
    width: 100%;
    justify-content: center;
    margin-left: auto;
}

.img_room {
    width: 100%;
    height: 100%;
    margin-right: 3%;
}

#container_aff {
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
#container_aff .img_room {
    display: block;
    transition: transform .5s;   /* smoother zoom */
}
#container_aff:hover .img_room {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

._img_aff:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 

}
.img_room:hover {
  }

.fa-coins {
    color: gold;
    margin-right: 10px;
}
