.board_register {
    background-color: rgb(241, 245, 255);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}
.registerBoard {
    width: 700px;
    padding: 50px!important;
    margin-top: 15vh;
    background-color: white;
}

.toplabel_register {
    font-weight: 700;
    color: rgb(38, 22, 98);
}

.label_welcome {
    color: rgb(70, 120, 221);
    text-align: left;
    font-size: 14px;
}

.label_forgot {
    text-align: right!important;
    float: right!important;
    font-size: 14px;
    margin-left: 40%;
} 

.input_email {
    width: 100%!important;
    font-family: "FontAwesome"; 
    background-color: rgb(241, 245, 255);
}

.input_pass {
    width: 100%!important;
    background-color: rgb(241, 245, 255);

}

.btn_register {
    /* background-color: #6C50FA!important; */
    background-color: white;
    color:rgb(224, 224, 223);
    border: 2px solid rgb(224, 224, 224);
    width: 50%;
    height: 50px;
    margin-top: 25px;
}

.label_below {
    color: rgb(143, 174, 241);
    font-size: 13px;
}

.line {
    color: rgba(70, 120, 221, 0.4);
    font-weight: 500;
    margin-bottom: -20px!important;
    margin-left: 10px;
    margin-right: 10px;
}

.label_footer {
    font-size: 15px;
}

.input_group {
    padding: 5px;
}

.label_accept {
    font-size: 13px;
    text-align: left;
}

.acccept {
    padding: 0;
}