.formBoard_verify_register {
    width: 500px;
    padding: 50px!important;
    margin-top: 15vh;
    background-color: white;
    text-align: center;
}

.btn_verify_register {
    color: lightblue!important;
}