.nav.nav-tabs .nav-link.current {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin-top: -6%;
    margin-left: 800px;
    color: #8FAEE7;
}

.nav.nav-tabs .nav-link.all {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin-top: -53px;
    color: #8FAEE7;
}
