
.footer {
    bottom: 0;
    width: 100%;
    height: 5%;
    position: fixed;
    background-color: rgb(135, 206, 250);
}
.timebar {
    color: rgb(239, 242, 253);
    background-color: rgb(170, 172, 174);
}
marquee {
    font-size: 25px!important;
    color: rgb(56, 64, 142);
    width: 80%;
}

